<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wallet.Properties.Settings.Wallet_DBConnectionString"
            connectionString="Data Source=DESKTOP-TT3JANN\SQLEXPRESS;Initial Catalog=Wallet_DB;Persist Security Info=True;User ID=admin;Password=admin2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>